---
layout: default
---

<!-- panel at top for entire collection -->

{% for datapages in site.data %}

<div class="container">
  <div class="row">
    <div class="panel panel-default">

      <div class="panel panel-heading">
        <h2>{{datapages[1]['title']}}</h2>
        {{datapages[1]['description']}}
      </div>
      <!-- Insert Dataset information and author information -->
      <div class="panel panel-body">

        {% for datapoints in datapages[1]['data']%}

        <div class="col-sm-12 col-md-6 col-lg-6" id="datapoint">
          <div class="panel panel-warning">
            <div class="panel panel-heading ">


              <!-- External Links -->
              <div class="btn-group pull-right">
              {% if datapoints['extern'] %}

                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                  <span class="mega-octicon octicon-link-external"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    {% for extern in datapoints['extern'] %}
                    <li><a href="{{extern}}">Link</a></li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <span class="octicon octicon-link-external"></span>
                {% endif %}

                </div>

<h2>{{datapoints['name']}}</h2>
                <span class="octicon octicon-search"></span>&nbsp;&nbsp;{{datapoints['description']}}



              </div>
              <div class="panel panel-body">

                <h4>Images</h4>
                <div class="panel">
                  <!-- Show first image listed if there is one -->
                  {% if datapoints['images'] %}

                  <div class="image">
                    {% assign image={{datapoints.images[0]}} %}
                    {% include ImageExtManager.html image=image %}
                    <div class="overlay">{{datapoints['images'] | size }} total images</div>
                  </div>
                  <!--<script>$('img').prop('title',{{datapoints['images'] | size }})</script>-->
                  {% else %}
                  <img data-src="holder.js/100%x100%" alt="No Images to Display">
                  {% endif %}

                </div>

                <div class="panel">
                  {% assign keys=datapoints['keys'] %}
                  {% include datatable.html data=keys %}
                </div>
              </div>
              <div class="panel panel-footer">
                {% if datapoints.src %}
                {% assign src=datapoints['src'][0] %}
                {% include SrcExtManager.html src=src %}
                {% else %}
                <span class="mega-octicon octicon-circle-slash"></span> <i>No code has been linked.</i>
                {% endif %}

              </div>
            </div>

          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    {% unless forloop.last %}
    <center>
    <span class="octicon octicon-arrow-down"></span>&nbsp;&nbsp;NEXT DATASET
  </center>
  {% endunless %}
  <br>

  </div>
  {% endfor %}


  <!--
  <script>
  $('img').mouseover(function(){
  $(this).css('opacity','.2');
  $(this).next('span.text').show();
}).mouseout(function(){
$(this).css('opacity','1');
$(this).next('span.text').hide();
});
</script>
-->
