<nav class="navbar navbar-default" role="navigation">

    <ul class="nav navbar-nav pull-right">
      <li><br><font color="white">VIEW CONTROLS</font>  </li>
  <li><a href="#" id="minimize"><span class="mega-octicon octicon-chevron-up"></span></a></li>
  <li><a href="#" id="maximize"><span class="mega-octicon octicon-chevron-down"></span></a></li>
  <li><a href="#" id="magnific-popup"><span class="mega-octicon octicon-file-media"></span></a></li>
  <li><img src="{{ site.author.gravatar | prepend:"http://www.gravatar.com/avatar/" | append:"?s=100"}}"/></li>
</ul>

</nav>
